Source: wazo-python-flask-classful-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 12), dh-python, wget, python3-all, python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.11

Package: python3-flask-classful
Architecture: all
Depends: ${shlibs:Depends}, ${python3:Depends}, ${misc:Depends}
Description: Python3 library for flask
 .
 Flask-Classful is an extension that adds class-based views to Flask
